<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TelpCamp</title>
</head>

<body>
    <!-- この部分に各ページのコンテンツが挿入されます -->
    <%- body %>
</body>

</html>