<% layout('layouts/boilerplate') %>
    <h1>すべてのキャンプ場</h1>
    <a href="/">トップページに戻る</a>
    <a href="/campgrounds/new">新しいキャンプ場を登録する</a>

    <ul>
        <% for (let campground of campgrounds) { %>
            <li>
                <a href="/campgrounds/<%= campground._id %>">
                    <%= campground.name %> - <%= campground.location %>
                </a>
            </li>
            <% } %>
    </ul>