<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">新しいキャンプ場を登録</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name">キャンプ場名</label>
                    <input class="form-control" type="text" id="name" name="campground[name]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">場所</label>
                    <input class="form-control" type="text" id="location" name="campground[location]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">画像URL</label>
                    <input class="form-control" type="text" id="image" name="campground[image]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">価格</label>
                    <div class="input-group">
                        <span class="input-group-text">¥</span>
                        <input type="number" id="price" class="form-control" placeholder="0" name="campground[price]"
                            aria-label="価格">
                        <span class="input-group-text">/泊</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">説明</label>
                    <textarea class="form-control" id="description" name="campground[description]" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">登録する</button>
                </div>
            </form>
            <a href="/campgrounds">一覧へ戻る</a>
        </div>
    </div>